* {
      box-sizing: border-box;
}
body {
display: flex;
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
 padding-bottom: 155px;
}
.people {
    --columns: 2;
    grid-template-columns: repeat(var(--columns), 200px);
    display: grid; 
    gap: 30px, 10px;
    padding: 30px, 35px;
    justify-items: center;

@media (min-width: 500px) {
grid-template-columns: repeat(var(--columns), 200px);
    padding-inline: 55px;
}
    
@media (min-width: 750px) {
grid-template-columns: repeat(var(--columns), 200px);
    padding-inline: 55px;
}

 @media (min-width: 1000px) {
grid-template-columns: repeat(var(--columns * 2), 200px);
    padding-inline: 55px;
}
 @media (min-width: 1500px) {
grid-template-columns: repeat(var(--columns * 2), 200px);
    padding-inline: 55px;
}
}

.person {
position: relative;
 width: 100%;
    padding: 10px 10px 0;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
    transition: transform 1s;

&__photo{
position: relative;
}

    img {
display: block;
object-fit: cover;
width: 200px;
height: 200px;
border-radius: 50%;

}


&__rank {
      position: absolute;
      text-align: center;
    justify-content: center;
      top: calc(50% - (32px / 2));
    // transform: translateY(-50%);
    top: 50%;
      right: 10px;
      background-color: #fff;
      color: #ff5722;
      font-weight: bold;
      font-size: 14px;
      padding: 6px 10px;
      border-radius: 50%;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

&__details {
font-weight: 700;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #2F4F4F;
padding-top: 8px;

}
    &__sport {
        &::arter {
content: ",";
        }
    }

&__extra {
    display: none;
  opacity: 0;
position: absolute;
  transition: opacity 1s ease;
  font-family: Arial;
font-weight: 400;
font-size: 18px;
line-height: 100%;
text-align: center;
color: #000;
padding-top: 9px 10px 16px;
}
  &__image:hover {
width: 3
        
}

.person: {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  background-color: #EEEEEE; 
width: 220px;    
border-radius: 10px;
transform: scale(1.2) 1s;   
transition: border-radius 1s;   
    padding: 10px 0;
    position reletive;
}

    .person:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  background-color: #EEEEEE; 
width: 220px;    
border-radius: 10px;
transform: scale(1.2) 1s;   
transition: border-radius 1s;   
    padding: 10px 0;
    position reletive;
}
.person:hover .person__extra {
  opacity: 1;
  visibility: visible;
  padding:10px;
    z-index: 1;
}
    

    .name {
        display: block;
        text-align: center:
            font-weight: 700;
        font-size: 24px;
