* {
      box-sizing: border-box;
}
body {
display: flex;
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
 padding-bottom: 155px;
}
.people {
    --columns: 2;
    grid-template-columns: repeat(var(--columns), 200px);
    display: grid; 
    gap: 30px, 10px;
    padding: 30px, 35px;
    justify-items: center;

@media (min-width: 500px) {
grid-template-columns: repeat(var(--columns), 200px);
    padding-inline: 55px;
}
    
@media (min-width: 750px) {
grid-template-columns: repeat(var(--columns), 200px);
    padding-inline: 55px;
}

 @media (min-width: 1000px) {
grid-template-columns: repeat(var(--columns * 2), 200px);
    padding-inline: 55px;
}
 @media (min-width: 1500px) {
grid-template-columns: repeat(var(--columns * 2), 200px);
    padding-inline: 55px;
}
}

.person {
position: relative;
 width: 100%;
padding: 10px 10px 0;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
transition: transform 1s;

      &:hover {
            background: #EEE;
            transform: scale(1.2);
            z-index: 1;
      &:hover &__image {
            border-radius: 60px;

&__img {
--size: 200px;
width:var(--size);
height: var(--size);;
border-radius: 50%;
      transition: border-radius 1s;
}

&__rank {
      --size: 32px;
      display: flex;
      position: absolute;
      text-align: center;
    justify-content: center;
       transform: translateY(-50%);
    top: 50%;
      right: 10px;
      background-color: #fff;
      color: #ff5722;
      width: var(--size);
      height: var(--size);
      font-weight: bold;
      font-size: 16px;
    }

&__details {
font-weight: 700;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #2F4F4F;
padding-top: 8px;

}
&__name {
display: block;
text-align: center;
font-weight: 700;
font-size: 24px;
color: #2F4F4F4;
}
&__sport {
 &::arter {
      content: ",";
}
}
&__pay {
      &::before {
      content: "$";
      }
      &::after {
            content: "M";
      }

&__extra {
    display: none;
position: absolute;
      left: 0;
      width:100%
font-weight: 400;
font-size: 18px;
text-align: center;
color: #EEE;
padding-top: 9px 10px 16px;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
}
            }  

  
